name: Build and Push Docker Image

on:
  push:
    branches:
      - "aj/workflow"

jobs:
  docker:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build and push Docker image
        uses: docker/build-push-action@v5
        with:
          context: ./weather-client
          file: ./weather-client/Dockerfile
          push: true
          tags: sreenathjayakrishnan/weather-client:latest

  deploy-minikube:
    runs-on: self-hosted
    needs: docker

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Ensure Minikube is running
        run: |
          if ! minikube status >/dev/null 2>&1; then
            minikube start
          fi

      - name: Create namespace (if needed)
        run: kubectl create namespace weather-ingestion-svc --dry-run=client -o yaml | kubectl apply -f -

      - name: Deploy with Helm
        run: |
          helm upgrade --install weather-client ./helm/weather-client \
            --namespace weather-ingestion-svc
